<main class="main">
  <header class="mainhead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Favorite Links</h1>
      <h3 class="mb-5">
        <em>Store your favorite Links</em>
      </h3>
      <a class="btn btn-secondary btn-lg m-2" href="/signup">
        Sign Up
      </a>
      <a class="btn btn-secondary btn-lg m-2" href="/signin">
        Sign In
      </a>
    </div>
    <div class="overlay"></div>
  </header>
</main>